*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primay: hsl(356, 100%, 66%);
    --primary-2:  hsl(355, 100%, 74%);
    --primary-3: hsl(208, 49%, 24%);
    /*neutral colors */
    --neutral-1: hsl(0, 0%, 100%);
    --neutral-2: hsl(240, 2%, 79%);
    --neutral-3: hsl(207, 13%, 34%);
    --neutral-4: hsl(240, 10%, 16%);

    --fuente-1: 'Overpass', sans-serif;


}

            /*Estilos del header*/


        /*Estilos Generales del contenedor*/
.container-header {
    height: 50vh;
    background-image: url(images/bg-pattern-intro-mobile.svg);
    background: linear-gradient(180deg, hsla(13, 100%, 72%, 1) 0%, hsla(353, 100%, 62%, 1) 100%);
    font-family: var(--fuente-1);
}

            /*Estilos del nav y logo*/
.row-header {
    display: flex;
    flex-direction: column;
    

}

 .row-header .logo-nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 20px;
}

.row-header .logo-nav img {
    margin: 15px;
}
            /*Text del header*/
.col-header_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    margin-top: 6rem;

}






@media (min-width: 300px) {
    .nav-header {
        display: none;
    }
}