*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primay: hsl(356, 100%, 66%);
    --primary-2:  hsl(355, 100%, 74%);
    --primary-3: hsl(208, 49%, 24%);
    /*neutral colors */
    --neutral-1: hsl(0, 0%, 100%);
    --neutral-2: hsl(240, 2%, 79%);
    --neutral-3: hsl(207, 13%, 34%);
    --neutral-4: hsl(240, 10%, 16%);

    --fuente-1: 'Overpass', sans-serif;


}

            /*Estilos del header*/


        /*Estilos Generales del contenedor*/
.container-header {
    height: 80vh;
    background-image: url(../images/bg-pattern-intro-mobile.svg);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: center;
   /* background-attachment: fixed;*/
    font-family: var(--fuente-1);
    border-radius: 0px 0px 0px 120px;
    
}
.container-header:before {
    content: "";
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(180deg, hsla(13, 100%, 72%, 1) 0%, hsla(353, 100%, 62%, 1) 100%);
    position: absolute;
    opacity: 1;
    z-index: -1;
    border-radius: 0px 0px 0px 120px;
    
}

            /*Estilos del nav y logo*/
.row-header {
    display: flex;
    flex-direction: column;
    

}

 .row-header .logo-nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 20px;
}

.row-header .logo-nav img {
    margin: 15px;
}
 /*Text del header*/
.col-header_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 6rem;
}

.col-header_info h1 {
    font-size: 3.3rem;
}
.col-header_info p {
    margin-top: 1.5rem;
    font-size: 1.6rem;
}



/* Estilos de los botones */ 

.col-header_buttons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.col-header_buttons .primary-button {
    margin: 1.5rem;
    width: 20rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
}
.col-header_buttons .primary-button a {
    text-decoration: none;
}

#button-one a{ 
    color: var(--primay);
    font-family: var(--fuente-1);
    font-weight: 600;
}

#button-two {
    background-color: transparent;
    border: 1px solid var(--neutral-1);
}
#button-two a {
    color: var(--neutral-1);
    font-family: var(--fuente-1);
    font-weight: 600;
}

    /* ESTILOS DEL MAIN */

.container-main .row-main_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.row-main_text p {
    font-size: 2.5rem;
    font-family: var(--fuente-1);
    font-weight: 600;
}


.col-main_box {
    display: flex;
    justify-content: center;
}

/*Textos Box 1*/ 

.col-header_texts .text1 {
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--fuente-1);
    width: 20rem;
    margin: 0 auto;
}

.col-header_texts .text1 h3 {
    color: var(--primary-3);
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.col-header_texts .text1 p {
    color: var(--neutral-3);
    font-weight: 300;
    
}


/* segunda seccion main */

.row-header_blogr {
    margin-top: 20rem;
    background-image: url(../images/bg-pattern-circles.svg);
    background-size: 210%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.row-header_blogr:before {
    content: "";
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(180deg, hsla(237, 18%, 21%, 1) 0%, hsla(237, 23%, 32%, 1) 84%);
    position: absolute;
    opacity: 1;
    z-index: -1;
    border-radius: 0px 100px 0px 100px;
}

.col-header_blogr-img img {
    width: 100%;
    position: relative;
    top: -18rem;
}

.text-blogr {
    top: -18rem;
    position: relative;
    text-align: center;
    font-family: var(--fuente-1);
    font-size: 1.6rem;
    width: 40rem;
    margin: 0 auto;
    color: var(--neutral-1);
}

.text-blogr h3 {
    font-size: 3.5rem;
}

.text-blogr .parrafo-main {
    width: 25rem;
    margin: 0 auto;
}



@media (min-width: 300px) {
    .nav-header {
        display: none;
    }
}


@media (min-width: 1024px) {
    .nav-header {
        display: block;
    }
}

